@mixin xs-breakpoint() {
  @media (min-width: --width-container-xs) {
    @content;
  }
}

@mixin sm-breakpoint() {
  @media (min-width: --width-container-sm) {
    @content;
  }
}

@mixin md-breakpoint() {
  @media (min-width: --width-container-md) {
    @content;
  }
}

@mixin lg-breakpoint() {
    @media (min-width: --width-container-lg) {
      @content;
    }
  }

@mixin xl-breakpoint() {
    @media (min-width: --width-container-xl) {
      @content;
    }
  }

@mixin gutters ($gutter-width: var(--space-12)) {
  margin-right: -$gutter-width;
  margin-left: -$gutter-width;

  > [class*='col-'] {
    padding-right: $gutter-width !important;
    padding-left: $gutter-width !important;
  }
}